$white: #ffffff;
$red: #ee0606;
$yellow: #fff01f;
$green: #4ce747;
$black: #000000;

$gray: #8c8c8c;
$dark-gray: darken($gray, 10);
$darker-gray: darken($gray, 20);
$almost-black: lighten($black, 25);

$greenish: #c6ecc6;
$redish: #ffc2b3;
