@keyframes blink {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@mixin blinkig-color($color) {
    background-color: $color;
    box-shadow: 0 0 55px 2px $color;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}
